* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #222;
    width: 100%;
    max-width: 400px; /* Ensure the popup does not exceed this width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.card {
    width: 100%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
}
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button img {
    width: 16px;
}
.weather-icon {
    width: 100px;
    margin-top: 20px;
}
.weather h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 10px 0;
}
.weather h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: -10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 30px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 14px;
    margin-top: -4px;
}
.weather {
    display: none;
}
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
